body{
    background-image: url(The-Batman-Filme-2022.jpg);
    background-position: center;
     background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.card{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.507);
}
.foto img{
    
    width: 80%;
    height: auto;
}
    #card1{
        overflow: hidden;
    }